## Data Structures

1.List
2.Tuple
3.Stirng
4.Dictionary
5.Sets

In [1]:
##List

lst=[1,2,3, 'Gagan', 'Khanna']

In [4]:
lst

[1, 2, 3, 'Gagan', 'Khanna']

In [6]:
##to pull individual value. Remember in python index always starts with 0
lst[3]

'Gagan'

In [7]:
type(lst[3])

str

In [8]:
##to add new value in the list

lst.append("topway")

In [9]:
lst

[1, 2, 3, 'Gagan', 'Khanna', 'topway']

In [12]:
## to replace the value in the list

lst[2]="Punita"
print(lst)

[1, 2, 'Punita', 'Gagan', 'Khanna', 'topway']

In [11]:
lst

[1, 2, 'Punita', 'Gagan', 'Khanna', 'topway']

In [13]:
lst.append("Gagan")
lst.append("Gagan")
lst

[1, 2, 'Punita', 'Gagan', 'Khanna', 'topway', 'Gagan', 'Gagan']

In [14]:
lst.count("Gagan")

3

In [15]:
##indexing
str1="Gagan"
str1[3]

'a'

In [16]:
str1[3]='1'

TypeError: 'str' object does not support item assignment

In [17]:
##Once we have defined the string we can change individual element inside the string but we can change entire string. 
##Also string is immutable
str1="Khanna"
str1

'Khanna'

In [18]:
##create empty list
l=[]
l

[]

In [19]:
l=list()
l

[]

In [20]:
##list concat

l1=[1,2,3]
l2=[3,4,5]

In [21]:
l1+l2

[1, 2, 3, 3, 4, 5]

In [22]:
l1.append(l2)

In [23]:
l1

[1, 2, 3, [3, 4, 5]]

In [24]:
l1.extend(l2)

In [25]:
l1

[1, 2, 3, [3, 4, 5], 3, 4, 5]

In [26]:
l=list("gagagahjk")

In [27]:
l

['g', 'a', 'g', 'a', 'g', 'a', 'h', 'j', 'k']

## FOR LOOP

In [28]:
lst=[9,8,6,4,2]
len(lst)

5

In [30]:
##Sum of all the elements in the list
##for loop
sum1=0
for i in lst:
    sum1=sum1+i
    ##print(sum1)
print(sum1)

29

In [31]:
l

['g', 'a', 'g', 'a', 'g', 'a', 'h', 'j', 'k']

In [34]:
for fg in l:
   print((fg))

g
a
g
a
g
a
h
j
k

In [48]:
%%time
lst =[1,3,4,6,7,8,9,2,3,4,5]
even_sum=0
odd_sum=0
for i in lst:
    if (i % 2) == 0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print("The odd sum is ", odd_sum)
print("The even sum is", even_sum)

The odd sum is  28
The even sum is 24
Wall time: 0 ns

## FOR LOOP WITH ELSE

In [51]:
lst=[1,2,3,4,5,6,7,8,9]
sum1=0
for i in lst:
    if i==5:
        break
    sum1=sum1+i
print(sum1)

10

In [53]:
lst=[1,2,3,4,6,7,8,9]
sum1=0
for i in lst:
    if i==5:
        break
    sum1=sum1+i
else:
    print("This is compulsory to be executed")
print(sum1)

This is compulsory to be executed
40

In [54]:
lst=[1,3,4,6,7,8,9,2,3,4,5]
sum_even=0
sum_odd=0
for i in lst:
    if i%2==0:
        sum_even=sum_even+i
        if sum_even>20:
            break
    if i%2!=0:
        sum_odd=sum_odd+i
        if sum_odd>20:
            break
else:
    print("the sum of odd and even is not greater than twenty")

In [56]:
lst=[1,3,4,6,7,8,9,2,3,4,5]
sum_even=0
sum_odd=0
for i in lst:
    if i%2==0:
        sum_even=sum_even+i
        if sum_even>20:
            break
        else:
            print("sum_even",sum_even)
    if i%2!=0:
        sum_odd=sum_odd+i
        if sum_odd>20:
            break
        else:
            print("sum_odd",sum_odd)

sum_odd 1
sum_odd 4
sum_even 4
sum_even 10
sum_odd 11
sum_even 18
sum_odd 20
sum_even 20

## WHILE LOOP

In [57]:
##While Loop
##To find sum of n elements(1,2,3,4,5,6,7,8,9,10)
n=10
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

55

In [68]:
##find even and odd sum using while loop
even_sum=0
odd_sum=0
i=1
while i<=10:
        if i%2==0:
            even_sum=even_sum+i
            print("even",even_sum)
            
        if i%2!=0:
            odd_sum=odd_sum+i
            print("odd",odd_sum)
        i= i+1
print(even_sum)            
print(odd_sum)

odd 1
even 2
odd 4
even 6
odd 9
even 12
odd 16
even 20
odd 25
even 30
30
25

## Range Function

In [70]:
range(6)

range(0, 6)

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
range(4,10)

range(4, 10)

In [73]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [74]:
list(range(4,10,2))

[4, 6, 8]

In [75]:
sum(range(1,100,2))

2500

In [79]:
sum(range(0,100,2))

2450

In [81]:
sum(range(100,0,-2))

2550

## Continue Statement

In [95]:
## Program to show the use of continue statement inside loops
for val in "string":
    if val=="i":
        break
    print(val)
print("The End")

s
t
r
The End

In [96]:
## Program to show the use of continue statement inside loops
for val in "string":
    if val=="i":
        continue
    print(val)
print("The End")

s
t
r
n
g
The End

In [97]:
s='Hello World'

In [100]:
s[::-3]

'dooe'