## STRINGS

In [1]:
type('Gagan')

str

In [3]:
type('G')

str

In [4]:
##Whether we use single cquote or double quote we will get the same output
"Gagan is a good boy"

'Gagan is a good boy'

In [5]:
'Gagan is a good boy'

'Gagan is a good boy'

In [12]:
## Store the string into a variable

str1= 'Gagan is a good boy'

In [7]:
str1

'Gagan is a good boy'

In [11]:
str

str

In [13]:
str

str

In [14]:
str='Gagan'

In [15]:
str

'Gagan'

In [16]:
str

'Gagan'

In [18]:
str(1)

TypeError: 'str' object is not callable

In [1]:
str

str

In [2]:
str(1)

'1'

In [3]:
##print the output

a=10

In [4]:
a

10

In [5]:
print(a)

10

In [6]:
str1="A Good Boy"
str2="A Bad Boy"

In [7]:
print(str1)
print(str2)

A Good Boy
A Bad Boy

In [8]:
str1+str2

'A Good BoyA Bad Boy'

In [9]:
##to add a space
str1+" "+str2

'A Good Boy A Bad Boy'

In [10]:
##How to input the value during run time

name=input("Enter your name?")
print(name)

Enter your name?Gagan Ji
Gagan Ji

In [11]:
##Add two numbers
a=input("Enter the number 1?")
b=input("Enter the number 2?")
c=a+b
print("The output is",c)

Enter the number 1?23
Enter the number 2?34
The output is 2334

In [12]:
##we are getting above output as 2334 be cause whatever value we are passing as input it is treating it as string. 
## To resolve the samewe will typecast it and use integer or float values
a=int(input("Enter the number 1?"))
b=int(input("Enter the number 2"))
c=a+b
print("The output is",c)

Enter the number 1?23
Enter the number 234
The output is 57

In [13]:
##String Formatting
first_name=input("What is your first_name?")
last_name=input("what is your last_name?")
print("Welcome to Achievers", first_name,last_name)

What is your first_name?Gagan
what is your last_name?Khanna
Welcome to Achievers Gagan Khanna

In [1]:
first_name=input("What is your first_name?")
last_name=input("what is your last_name?")
print("My first name is {} and last name is {}".format(first_name,last_name))

What is your first_name?Gagan
what is your last_name?khanna
My first name is Gagan and last name is khanna

In [2]:
##If i change the order of first_name and last_name then what will happen and how to fix this

first_name=input("What is your first_name?")
last_name=input("what is your last_name?")
print("My first name is {} and last name is {}".format(last_name,first_name))

What is your first_name?gagan
what is your last_name?khanna
My first name is khanna and last name is gagan

In [3]:
first_name=input("What is your first_name?")
last_name=input("what is your last_name?")
print("My first name is {firstname} and last name is {lastname}".format(lastname=last_name,firstname=first_name))

What is your first_name?Gagan
what is your last_name?Khanan
My first name is Gagan and last name is Khanan

## Varibale Dynamic Typing

In [4]:
##In Python we dont have to specify the type the compiler itseld identifies what type it is

a=10
type(a)

int

In [6]:
a=10.0
type(a)

float

In [7]:
a='Gagan'
type(a)

str

## Strong Typing

In [8]:
'Gagan' +1

TypeError: can only concatenate str (not "int") to str

In [9]:
'Gagan' +str(1)

'Gagan1'

In [16]:
##Conditional Statements
## if and elif
a=int(input("Enter the number 1?"))
b=int(input("ENter the number 2?"))
c=a-b
if c<0:
    print("The number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("The number is positive")

Enter the number 1?100
ENter the number 2?50
the difference is huge